body {
    background-image: url("/ADISE20_123970/assets/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.tavli {
    height: 690px;
    width: 842px;
    background-image: url("/ADISE20_123970/assets/img/board842.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}

.tavli #gameStats {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
}

.mazema_mavra {
    position: absolute;
    left: 25px;
    top: 50px;
    bottom: 50px;
    width: 50px;
}

.mazema_aspra {
    position: absolute;
    right: 25px;
    top: 50px;
    bottom: 50px;
    width: 50px;
}

.mazema_mavra .pouli,
.mazema_aspra .pouli {
    position: absolute;
}

.mazema_mavra #m1  { bottom: calc(0 * 25px); }
.mazema_mavra #m2  { bottom: calc(1 * 25px); }
.mazema_mavra #m3  { bottom: calc(2 * 25px); }
.mazema_mavra #m4  { bottom: calc(3 * 25px); }
.mazema_mavra #m5  { bottom: calc(4 * 25px); }
.mazema_mavra #m6  { bottom: calc(5 * 25px); }
.mazema_mavra #m7  { bottom: calc(6 * 25px); }
.mazema_mavra #m8  { bottom: calc(7 * 25px); }
.mazema_mavra #m9  { bottom: calc(8 * 25px); }
.mazema_mavra #m10 { bottom: calc(9 * 25px); }
.mazema_mavra #m11 { bottom: calc(10 * 25px); }
.mazema_mavra #m12 { bottom: calc(11 * 25px); }
.mazema_mavra #m13 { bottom: calc(12 * 25px); }
.mazema_mavra #m14 { bottom: calc(13 * 25px); }
.mazema_mavra #m15 { bottom: calc(14 * 25px); }

.mazema_aspra #a1  { top: calc(0 * 25px); }
.mazema_aspra #a2  { top: calc(1 * 25px); }
.mazema_aspra #a3  { top: calc(2 * 25px); }
.mazema_aspra #a4  { top: calc(3 * 25px); }
.mazema_aspra #a5  { top: calc(4 * 25px); }
.mazema_aspra #a6  { top: calc(5 * 25px); }
.mazema_aspra #a7  { top: calc(6 * 25px); }
.mazema_aspra #a8  { top: calc(7 * 25px); }
.mazema_aspra #a9  { top: calc(8 * 25px); }
.mazema_aspra #a10 { top: calc(9 * 25px); }
.mazema_aspra #a11 { top: calc(10 * 25px); }
.mazema_aspra #a12 { top: calc(11 * 25px); }
.mazema_aspra #a13 { top: calc(12 * 25px); }
.mazema_aspra #a14 { top: calc(13 * 25px); }
.mazema_aspra #a15 { top: calc(14 * 25px); }

.thesi {
    position: absolute;
    height: calc(50% - 50px);
    width: 50px;
}

.thesi1  { bottom: 50px; left: calc(100px + 0 * 50px); }
.thesi2  { bottom: 50px; left: calc(100px + 1 * 50px); }
.thesi3  { bottom: 50px; left: calc(100px + 2 * 50px); }
.thesi4  { bottom: 50px; left: calc(100px + 3 * 50px); }
.thesi5  { bottom: 50px; left: calc(100px + 4 * 50px); }
.thesi6  { bottom: 50px; left: calc(100px + 5 * 50px); }

.thesi7  { bottom: 50px; left: calc(446px + 0 * 50px); }
.thesi8  { bottom: 50px; left: calc(446px + 1 * 50px); }
.thesi9  { bottom: 50px; left: calc(446px + 2 * 50px); }
.thesi10 { bottom: 50px; left: calc(446px + 3 * 50px); }
.thesi11 { bottom: 50px; left: calc(446px + 4 * 50px); }
.thesi12 { bottom: 50px; left: calc(446px + 5 * 50px); }

.thesi18 { top: 50px; left: calc(446px + 0 * 50px); }
.thesi17 { top: 50px; left: calc(446px + 1 * 50px); }
.thesi16 { top: 50px; left: calc(446px + 2 * 50px); }
.thesi15 { top: 50px; left: calc(446px + 3 * 50px); }
.thesi14 { top: 50px; left: calc(446px + 4 * 50px); }
.thesi13 { top: 50px; left: calc(446px + 5 * 50px); }

.thesi24 { top: 50px; left: calc(100px + 0 * 50px); }
.thesi23 { top: 50px; left: calc(100px + 1 * 50px); }
.thesi22 { top: 50px; left: calc(100px + 2 * 50px); }
.thesi21 { top: 50px; left: calc(100px + 3 * 50px); }
.thesi20 { top: 50px; left: calc(100px + 4 * 50px); }
.thesi19 { top: 50px; left: calc(100px + 5 * 50px); }

.pouli {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.pouli:hover {
    opacity: 0.7;
}

.pouli.mavro {
    background-image: url("/ADISE20_123970/assets/img/black.png");
}

.pouli.aspro {
    background-image: url("/ADISE20_123970/assets/img/white.png");
}

.footer { 
    border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
    border-color: black; 
}

